{% load static %}
<!-- Mobile Header -->
<div class="sticky">
    <div class="horizontal-header clearfix ">
        <div class="container">
            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            <span class="smllogo"><img src="{% static 'images/logo.png' %}" width="36" alt="img" /><b
                    class="custom-logo-name-mobile">Chatbot</b></span>
            <span class="smllogo-white"><img src="{% static 'images/logo.png' %}" width="36" alt="img" /><b
                    class="custom-logo-name-mobile">Chatbot</b></span>

        </div>
    </div>
</div>





<!-- /Mobile Header -->

<!--Horizontal-main -->
<div class="horizontal-main header-style1  bg-dark-transparent clearfix">
    <div class="horizontal-mainwrapper container clearfix">
        <div class="desktoplogo">
            <a href="#"><span class="text-primary">Smart</span>
            </a>
        </div>
        <div class="desktoplogo custom-logo-name-desktop">Chatbot</div>
        <div class="desktoplogo-1">
            <a href="#"><img src="{% static 'images/logo.png' %}" alt="img"></a>
        </div>
        <div class="desktoplogo-1 custom-logo-name-desktop">Chatbot</div>
        <nav class="horizontalMenu clearfix d-md-flex">
            <ul class="horizontalMenu-list">
                <li aria-haspopup="true"><a href="#">Home</a> </li>
                <li aria-haspopup="true"><a href="#">About Us </a></li>
                <li aria-haspopup="true"><a href="#">profile</a></li>
                <li aria-haspopup="true" class="p-0 mt-1">
                    <span><a class="btn btn-primary" href="course-posts.html">Register Now</a></span>
                </li>
            </ul>
        </nav>
    </div>
</div>


<br /><br />
<br /> <br />
<br /> <br />
<br /> <br />