.custom-logo-name-desktop {
   
   font-weight:bold;
    font-size: 40px;
    margin-left: 10px !important;

}

.custom-logo-name-mobile{
    
    color: white;
    margin-left: 5px;
    font-size: 20px;

}