{% extends '../element/main.html' %}
{% load static %}

{% block content %}
<section class="sptb my-dash-1">
    <div class="container">
        <div class="row">
            {% include '../element/menu.html' with name=4 %}
            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Create Niveau</h3>
                    </div>
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group"> <label class="form-label">Niveau</label> <input name="name"
                                        type="text" class="form-control" placeholder="Niveau"> </div>
                            </div> 
                        </div>
                    </div>
                    <div class="card-footer"> 
                        <a href="{% url 'niveaux' 0 %}" class="btn btn-danger" style="color:withe;">Retour</a> 
                        <button type="submit" class="btn btn-primary">Create Niveau</button> 
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}